<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}ULA Code{% endblock %}</title>
  </head>
  <body>
    <div id="sidebar">
      {% block sidebar %}
        <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'acerca_de' %}">Acerca de..</a></li>
        {% block  menuUsuario%}{% endblock %}
        {% if user.is_anonymous %}
          <li><a href="{% url 'login' %}">Acceder</a></li>
          <li><a href="{% url 'registroUsuario' %}">Registrarse</a></li>
        {% else %}
          <li><a href="{% url 'perfil' %}">Perfil</a></li>
          <li><a href="{% url 'logout' %}">Salir</a></li>
        {% endif %}

        </ul>
      {% endblock %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
