{% extends "ULAcode/base.html" %}
{% block content %}
<h2>Framework</h2>
<table class="table table-striped">
<tr>
    <td>Url del Framework:</td>
    <td>{{object.urlFramework}}</td>
</tr>
<tr>
    <td>Token del Framework:</td>
    <td>{{object.frameworkToken}}</td>
</tr>
<tr>
    <td>Email del Responsable:</td>
    <td>{{object.emailAdminFramework}}</td>
</tr>
<tr>
    {% if  framework.frameworkActivo %}
    <td>Framework Activo</td>
</tr>
<tr>
    <td><a href="{% url 'desactivar_framework' framework.urlFramework %}"><button type="button" name="DesctivarFramework" class="btn btn-primary">Desactivar</button></a></td>
  {% else %}
    <td>Framework Inactivo</td>
</tr>
<tr>
    <td><a href="{% url 'activar_framework' framework.urlFramework %}"><button type="button" name="ActivarFramework" class="btn btn-primary">Activar</button></a></td>
 {% endif %}
    <td><a href="{% url 'framework_update' framework.urlFramework %}"><button type="button" name="EditarFramework" class="btn btn-primary">Editar Framework</button></a></td>
</tr>
</table>

{% endblock %}
