{% extends "ULAcode/base.html" %}
{% block menuUsuario %}
<ul>
    {% if perms.auth.add_user %}
        {% include "ULAcode/menu_sisAdm.html"  %}
    {% endif %}
    {% if perms.ULAcode.change_related_framework %}
        {% include "ULAcode/menu_frAdm.html"%}
    {% endif %}
    {% if perms.ULAcode.list_related_frameworks %}
        {% include "ULAcode/menu.html"%}
    {% endif %}
  {% if user.is_superuser %}
    {% include "ULAcode/staff_menu.html" %}
  {% endif %}
  <li><a href="#">Cambiar Contraseña</a></li>
</ul>

{% endblock %}

{% load static%}

{% block content %}

<div class="col-lg-12 col-md-12">
<div class="col-lg-9 col-md-10">
 <table class="table table-striped">
    <tr>
      <td>Nombre: </td><td>{{user.first_name}}</td>
    </tr>
    <tr>
      <td>Apellido: </td><td>{{user.last_name}}</td>
    </tr>
    <tr>
      <td>Correo <br>Electronico:</td><td>{{user.email}}</td>
    </tr>
    <tr>
      <td>Cedula: </td><td>{{usuario.cedula}}</td>
    </tr>
    <tr>
      <td>Rol Usuario: </td>
      <td>
    {% for set in rolUser %}
      {% for key, value in set.items  %}
        {% if key == 'id' %}
          {% if value == 1 %}
            Administrador de Sistema <br>
          {% elif value == 2 %}
            Administrador de Framework <br>
          {% else %}
            Usuario Comun
          {% endif %}
          <br>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </td>
    </tr>
    <tr>
    <td>Framework: </td>
    <td>
    {% for set in framework %}
      {% for key, value in set.items  %}
        {% if key == 'urlFramework' %}
          {{ value }} <br>
        {% endif %}
      {% endfor %}
    {% empty %}
        Ninguno
    {% endfor %}
  </td>
  </tr>

  </table>
</div>
<div class="col-lg-3 col-md-2">
{% if usuario.fotoPerfil%}
    <img src="{{usuario.fotoPerfil.url}}" class="thumbnail" width='100%' alt="Foto de Perfil">
{% else %}
    <img src="/media/perfilUsuarios/default-user.jpg" class="thumbnail" width='100%' alt="Foto de Perfil">
{% endif %}
</div>
</div>
<a href="{% url 'editar_perfil' %}"><button type="button" name="editar_perfil" class="btn btn-primary">Editar</button></a>
{% endblock %}
