{% extends "ULAcode/base.html" %}
{% block content %}
<h2>Frameworks Relacionados al Usuario</h2>
<table>
{% if frameworks %}
{% for framework in frameworks  %}
<tr>
  <td><a href="{% url 'framework_detail' framework.urlFramework %}">{{framework.urlFramework}}</a></td>
  <td><a href="{% url 'update_related_framework' framework.urlFramework%}"><button type="button" name="editar_related_framework">Editar</button></a></td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td>No hay frameworks relacionados al usuario</td>
</tr>
{% endif %}
</table>
{% endblock %}
