{% extends "ULAcode/base.html" %}

{% block menuUsuario %}
<ul>
     {% include "ULAcode/menu_sisAdm.html" %}
</ul>
{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12">
<div class="col-lg-9 col-md-10">
 <table class="table table-striped">
    <tr>
      <td>Nombre: </td><td>{{userData.first_name}}</td>
    </tr>
    <tr>
      <td>Apellido: </td><td>{{userData.last_name}}</td>
    </tr>
    <tr>
      <td>Correo <br>Electronico:</td><td>{{userData.email}}</td>
    </tr>
    <tr>
      <td>Cedula: </td><td>{{usuario.cedula}}</td>
    </tr>
    <tr>
      <td>Rol Usuario: </td>
      <td>
    {% for set in rolUser %}
      {% for key, value in set.items  %}
        {% if key == 'id' %}
          {% if value == 1 %}
            Administrador de Sistema <br>
          {% elif value == 2 %}
            Administrador de Framework <br>
          {% else %}
            Usuario Comun
          {% endif %}
          <br>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </td>
    </tr>
    <tr>
    <td>Framework: </td>
    <td>
    {% for set in framework %}
      {% for key, value in set.items  %}
        {% if key == 'urlFramework' %}
          {{ value }} <br>
        {% endif %}
      {% endfor %}
    {% empty %}
        Ninguno
    {% endfor %}
  </td>
  </tr>

  </table>
</div>
<div class="col-lg-3 col-md-2">
    {% if usuario.fotoPerfil%}
        <img src="{{usuario.fotoPerfil.url}}" class="thumbnail" width='100%' alt="Foto de Perfil">
    {% else %}
        <img src="/media/perfilUsuarios/default-user.jpg" class="thumbnail" width='100%' alt="Foto de Perfil">
    {% endif %}
</div>
</div>
  <a href="{% url 'editar_usuario' userData.id%}"><button type="button" name="editarUsuario" class="btn btn-primary">Editar Perfil</button></a>
  {% if userData.is_active == 0 %}
    <a href="{% url 'activar_usuario' userData.id %}"><button type="button" name="activarUsuario" class="btn btn-primary">Activar Usuario</button></a>
  {% else %}
    <a href="{% url 'desactivar_usuario' userData.id%}"><button type="button" name="desactivarUsuario" class="btn btn-primary">Desactivar Usuario</button></a>
  {% endif %}

{% endblock %}
