{% extends "ULAcode/base.html" %}

{% block menuUsuario %}
     {% include "ULAcode/menu_sisAdm.html" %}
{% endblock %}

{% block content %}
  <p>HELLO {{user.fist_name}} </p>
  <table>
     <tr>
         <td><img src="{{usuario.fotoPerfil.url}}" width='100' alt="Foto Perfil"></td>
     </tr>
    <tr>
      <td>Nombre: </td><td>{{userData.first_name}}</td>
    </tr>
    <tr>
      <td>Apellido: </td><td>{{userData.last_name}}</td>
    </tr>
    <tr>
      <td>Correo <br>Electronico:</td><td>{{userData.email}}</td>
    </tr>
    <tr>
      <td>Cedula: </td><td>{{usuario.cedula}}</td>
    </tr>
    <tr>
      <td>Rol Usuario: </td>
      <td>
    {% for set in rolUser %}
      {% for key, value in set.items  %}
        {% if key == 'id' %}
          {% if value == 1 %}
            Administrador de Sistema <br>
          {% elif value == 2 %}
            Administrador de Framework <br>
          {% else %}
            Usuario Comun
          {% endif %}
          <br>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </td>
    </tr>
    <tr>
    <td>Framework: </td>
    <td>
    {% for set in framework %}
      {% for key, value in set.items  %}
        {% if key == 'urlFramework' %}
          {{ value }} <br>
        {% endif %}
      {% endfor %}
    {% empty %}
        Ninguno
    {% endfor %}
  </td>
  </tr>

  </table>
  <a href="{% url 'editar_usuario' userData.id%}"><button type="button" name="editarUsuario">Editar</button></a>
  {% if userData.is_active == 0 %}
    <a href="{% url 'activar_usuario' userData.id %}"><button type="button" name="activarUsuario">Activar Usuario</button></a>
  {% else %}
    <a href="{% url 'desactivar_usuario' userData.id%}"><button type="button" name="desactivarUsuario">Desactivar Usuario</button></a>
  {% endif %}

{% endblock %}
